@use "sass:color";
.buttonPrev {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: #0F9BFF transparent transparent #0F9BFF;
  border-radius: 2px;
  transform: rotate(-45deg);
  &:hover {
    border-color: darken(#0F9BFF, 10%) transparent transparent darken(#0F9BFF, 10%);
  }
}

.buttonNext {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #0F9BFF #0F9BFF transparent transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  &:hover {
    border-color: darken(#0F9BFF, 10%) darken(#0F9BFF, 10%) transparent transparent ;
  }
}

.creditCalculatorCalculationsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.creditCalculatorCalculationsDisplay-list {
  height: 420px;
}

.creditCalculator-btnBackToCalculations {
  background-color: #0F9BFF;
  color: white;
  padding: 0.3rem 4rem;
  border-style: none;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-top: 1rem;
  &:hover {
    background-color: darken(#0F9BFF, 10%);
  }
}