.calculatorMainContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2.0rem;
  @media screen and (min-width: 1200px) {
    margin: 2.0rem Auto;
  }
}

.main {
  flex-grow: 0;
  display: flex;
  justify-content: left;
  box-shadow: 1px 0px 7px 0px #00000036;
  border-radius: 50px;
}