.welcome {
  max-width: 1200px;
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  margin: 2rem;
  height: 530px;
}
@media screen and (min-width: 1200px) {
  .welcome {
    margin: 2.5rem Auto;
  }
}

.welcomeLeftPhoto {
  width: 350px;
  background-image: url("../pictures/pexels-fauxels-3184610.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px 0 0 50px;
}
.welcomeLeftPhoto::after {
  content: "";
  background-color: rgba(158, 16, 127, 0.72);
  border-radius: 50px 0 0 50px;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.welcomeHero h1 {
  padding-left: 60px;
}
.welcomeHero p {
  padding-left: 60px;
  margin-right: 60px;
  font-size: 1.7rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

.welcomeHero-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 10px;
}
.welcomeHero-list li {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
}

.logLink {
  display: block;
  padding: 1rem 2rem;
  margin-left: 60px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}
.logLink:hover {
  background-color: #0080db;
}

.sider {
  width: 350px;
  height: 75vh;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  border-radius: 50px;
}

.siderHistory-title {
  margin: 0;
  border-radius: 50px 50px 0 0;
  padding: 20px 0;
  text-align: center;
}

.siderHistory-calcName {
  border-bottom: 1px solid #9E107F;
  margin: 20px 30px;
  padding-bottom: 5px;
}

.siderHistory-calcList {
  list-style-type: disc;
  height: 7rem;
  overflow-y: scroll;
}

.siderHistory-calcList-item {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.siderHistory-calcList-item span:first-child {
  display: block;
  width: 5px;
  height: 5px;
  margin-right: 20px;
  background-color: #9E107F;
  border-radius: 50%;
}
.siderHistory-calcList-item span:nth-child(2):hover {
  text-decoration: underline;
}
.siderHistory-calcList-item span:last-child {
  margin-left: Auto;
  margin-right: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.siderHistory-calcList-item span:last-child svg:first-child {
  color: #9E107F;
}
.siderHistory-calcList-item span:last-child svg:first-child:hover {
  color: #870e6c;
}
.siderHistory-calcList-item span:last-child svg:last-child:hover {
  border-radius: 50%;
  box-shadow: 0px 3px 8px 3px transparent inset;
}
.siderHistory-calcList-item button:last-child {
  border-style: none;
  padding: 1px 3px 0;
  border-radius: 2px;
}
.siderHistory-calcList-item button:last-child:hover {
  background-color: #0080db;
}

.siderHistory-calcChart-title {
  margin: 20px 30px;
  padding: 5px;
  text-align: center;
}

.siderHistory-calcChart-chart {
  margin: 1.2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10rem;
}

.siderHistory-calcChart-credit {
  position: absolute;
  top: -0.8rem;
  left: -4.6rem;
  color: #0F9BFF;
  font-size: large;
}

.siderHistory-calcChart-interests {
  position: absolute;
  bottom: -1.6rem;
  right: -4.6rem;
  color: #9E107F;
  font-size: large;
}

.siderHistory-calcChart-bottomLine {
  margin: 2.2rem;
  margin-top: 2.9rem;
  height: 1px;
  background-color: #9E107F;
}

.topBar {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 20px 0;
  border-radius: 50px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
@media screen and (min-width: 1200px) {
  .topBar {
    margin: 2.5rem Auto;
  }
}

.logoContainer {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-el1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.logo-el2 {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid #9E107F;
  background-color: white;
  top: 3px;
  left: 3px;
}

.mainLogoHomeLink {
  text-decoration: none;
  color: white;
}

.iconsContainer {
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.iconsContainer a svg:hover {
  box-shadow: 0 -20px 0 -17px #0F9BFF;
}

.icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.info {
  max-width: 1200px;
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  margin: 2rem;
  height: 530px;
}
@media screen and (min-width: 1300px) {
  .info {
    margin: 2.5rem Auto;
  }
}

.infoLeftPhoto {
  width: 350px;
  background-image: url("../pictures/pexels-fauxels-3184610.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px 0 0 50px;
}
.infoLeftPhoto::after {
  content: "";
  background-color: rgba(158, 16, 127, 0.72);
  border-radius: 50px 0 0 50px;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.infoHero h1 {
  padding-left: 60px;
}
.infoHero p {
  width: 450px;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 60px;
  font-size: 1.3rem;
  text-decoration: none;
  margin-bottom: 0;
}

.welcomeHero-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 10px;
}
.welcomeHero-list li {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
}

.logLink {
  display: block;
  padding: 1rem 2rem;
  margin-left: 60px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}
.logLink:hover {
  background-color: #0080db;
}

.login {
  max-width: 1200px;
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  margin: 2rem;
  height: 530px;
}
@media screen and (min-width: 1300px) {
  .login {
    margin: 2.5rem Auto;
  }
}

.loginLeftPhoto {
  width: 350px;
  background-image: url("../pictures/pexels-fauxels-3184610.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px 0 0 50px;
}
.loginLeftPhoto::after {
  content: "";
  background-color: rgba(158, 16, 127, 0.72);
  border-radius: 50px 0 0 50px;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.loginHero h1 {
  padding-left: 60px;
}
.loginHero p {
  padding-left: 60px;
  margin-right: 60px;
  font-size: 1.7rem;
  margin-top: 5px;
}
.loginHero .errorInformation {
  font-size: 1.2rem;
  margin: 0;
  height: 1.3rem;
}

.loginBtnLog {
  background-color: #0F9BFF;
  color: white;
  width: 400px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 50px;
}

.logLink {
  display: block;
  padding: 1rem 2rem;
  margin-left: 60px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}
.logLink:hover {
  background-color: #0080db;
}

.calculatorChoice {
  width: 300px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.calculatorChoice a {
  width: 120px;
  height: 150px;
  background-color: #0F9BFF;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 grey;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.calculatorChoice a:hover {
  background-color: #0080db;
}
.calculatorChoice a div:first-child {
  height: 80%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.calculatorChoice a div:first-child svg {
  width: 60px;
  height: 60px;
}

.loginRegistrationLink {
  font-size: 0.8rem;
  color: #9E107F;
}

.registration {
  max-width: 1300px;
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  margin: 2rem;
  height: 530px;
}
@media screen and (min-width: 1300px) {
  .registration {
    margin: 2.5rem Auto;
  }
}

.registrationLeftPhoto {
  width: 350px;
  background-image: url("../pictures/pexels-fauxels-3184610.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px 0 0 50px;
}
.registrationLeftPhoto::after {
  content: "";
  background-color: rgba(158, 16, 127, 0.72);
  border-radius: 50px 0 0 50px;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.registrationHero {
  flex-grow: 1;
}
.registrationHero h1 {
  padding-left: 60px;
}
.registrationHero .registrationConfirmationHeader {
  padding-left: unset;
  text-align: center;
  margin-top: 5rem;
}
.registrationHero p {
  padding-left: 60px;
  margin-right: 60px;
  font-size: 1.7rem;
  margin-top: 5px;
}
.registrationHero .errorInformation {
  font-size: 1.2rem;
  margin: 0;
  height: 1.3rem;
}

.registrationBtnLog {
  background-color: #0F9BFF;
  color: white;
  width: 400px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 50px;
}

.registrationLink {
  display: block;
  padding: 1rem 2rem;
  margin-left: 60px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}
.registrationLink:hover {
  background-color: #0080db;
}

.registrationLogLink {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  width: 22rem;
  margin: 0 auto;
}
.registrationLogLink:hover {
  background-color: #0080db;
}

.calculatorChoice {
  width: 300px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.calculatorChoice a {
  width: 120px;
  height: 150px;
  background-color: #0F9BFF;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0 grey;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.calculatorChoice a:hover {
  background-color: #0080db;
}
.calculatorChoice a div:first-child {
  height: 80%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.calculatorChoice a div:first-child svg {
  width: 60px;
  height: 60px;
}

.loginRegistrationLink {
  font-size: 0.8rem;
  color: #9E107F;
}

.calculatorLeftNavigation {
  width: max(280px, 20vw);
  height: 75vh;
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.calculatorLeftNavigationList {
  border-right: 1px solid white;
  padding: 50px 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  gap: 50px;
  align-items: flex-end;
  list-style-type: none;
  font-size: 20px;
  position: absolute;
}
.calculatorLeftNavigationList li {
  position: relative;
}
.calculatorLeftNavigationList li a:hover {
  text-decoration: underline;
}
.calculatorLeftNavigationList li::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9E107F;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  right: -31px;
  transform: translate(50%, -30%);
}

.calculatorLeftNavigationList:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -50px;
  right: -31px;
  transform: translate(50%);
}

.calculatorLeftNavigationList:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  bottom: -50px;
  right: -31px;
  transform: translate(50%);
}

.calculatorLeftNavigationList-active {
  color: white;
  text-decoration: none;
  position: relative;
}
.calculatorLeftNavigationList-active span:first-child {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 40px solid #0F9BFF;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 40px solid transparent;
  top: -30px;
  right: 120px;
  transform: rotate(-90deg);
  z-index: 3;
}
.calculatorLeftNavigationList-active span:last-child {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: -41px;
  bottom: 38%;
  transform: translate(-50%);
  z-index: 5;
}

.calculatorLeftNavigationList-inactive {
  color: white;
  text-decoration: none;
}
.calculatorLeftNavigationList-inactive span:first-child {
  display: none;
}
.calculatorLeftNavigationList-inactive span:last-child {
  display: none;
}

.calculatorMainContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2rem;
  gap: 2.5rem;
}
@media screen and (min-width: 1200px) {
  .calculatorMainContainer {
    margin: 2rem Auto;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.2117647059);
  border-radius: 50px;
}

.buttonPrev {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: #0F9BFF transparent transparent #0F9BFF;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.buttonPrev:hover {
  border-color: #0080db transparent transparent #0080db;
}

.buttonNext {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #0F9BFF #0F9BFF transparent transparent;
  border-radius: 2px;
  transform: rotate(45deg);
}
.buttonNext:hover {
  border-color: #0080db #0080db transparent transparent;
}

.creditCalculatorCalculationsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.creditCalculatorCalculationsDisplay-list {
  height: 420px;
}

.creditCalculator-btnBackToCalculations {
  background-color: #0F9BFF;
  color: white;
  padding: 0.3rem 4rem;
  border-style: none;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.creditCalculator-btnBackToCalculations:hover {
  background-color: #0080db;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.mainColor {
  background-color: #9E107F;
  color: white;
}

.contrastColor {
  color: #9E107F;
}

.thirdColor {
  background-color: #0F9BFF;
  color: white;
}

.mainCalculator {
  min-width: 480px;
  flex-grow: 2;
  height: 75vh;
}
.mainCalculator h1 {
  margin-left: 30px;
  color: #9E107F;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  display: block;
  border: 1px solid #FCE3F7;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  background-color: #F7F7F7;
  margin-left: 30px;
  color: #D7CBD4;
  font-size: 1.2rem;
  position: relative;
}

.inputAmount-caurrency {
  width: 40px;
  height: 30px;
  padding-left: 20px;
  border-left: 1px solid #0F9BFF;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 3;
  font-size: 1.5rem;
  color: #0F9BFF;
}

.radio {
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #9E107F;
  font-size: 1.2rem;
}
.radio input {
  width: 20px;
}

.btnOblicz {
  background-color: #0F9BFF;
  color: white;
  width: 400px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 50px;
}
.btnOblicz:hover {
  background-color: #0080db;
}

/*# sourceMappingURL=style.css.map */
